﻿<h2>Online Information</h2>
<br />
<div class="row">
    <div class="form-group col-md-3 col-sm-6">
        <label for="url">URL</label>
        <input type="url" 
               class="form-control" 
               id="url" name="url" 
               ng-model="broker.url" 
               maxlength="100" 
               ng-maxlength="100" 
               ng-disabled="!editMode"/>
        <span ng-show="broker.url != null && broker.url.length > 0" class="text-brand"><a href="{{broker.url}}" target="_blank">Go to URL</a></span>
    </div>

    <div class="form-group col-md-3 col-sm-6">
        <label for="load_board_url">Load Board URL</label>
        <input type="url" 
               class="form-control" 
               id="load_board_url" 
               name="load_board_url" 
               ng-model="broker.load_board_url" 
               maxlength="100" 
               ng-maxlength="100"
               ng-disabled="!editMode"/>
        <span ng-show="broker.load_board_url != null && broker.load_board_url.length > 0" class="text-brand"><a href="{{broker.load_board_url}}" target="_blank">Go to URL</a></span>
    </div>
    <div class="form-group col-md-3 col-sm-6">
        <label for="registration_required">Registration Required</label>
        <select id="registration_required" class="form-control" name="registration_required" ng-model="broker.registration_required" ng-disabled="!editMode">
            <option value="Not Specified" selected>Not Specified</option>
            <option value="Yes">Yes</option>
            <option value="No">No</option>
        </select>
    </div>
</div>
<div class="row">
    <div class="form-group col-md-3 col-sm-6">
        <label for="login">Login</label>
        <input type="text" class="form-control" id="login" name="login" ng-model="broker.login" maxlength="100" ng-maxlength="100" ng-disabled="!editMode"/>
    </div>
    <div class="form-group col-md-3 col-sm-6">
        <label for="password">Password</label>
        <input type="text" class="form-control" id="password" name="password" ng-model="broker.password" maxlength="100" ng-maxlength="100" ng-disabled="!editMode" />
    </div>
</div>
<br />
<div class="row" ng-show="newBrokerForm">
    <div class="col-md-offset-3 col-md-6 col-sm-12 text-center">
        <span class="text-warning"><i ng-show="saving" class="fa fa-cog fa-spin"></i> {{formStateMessage}}</span>
        <span ng-show="formStateError" class="text-warning">{{formStateError}}</span>
    </div>
</div>
<br />
<div class="row" ng-show="newBrokerForm">
    <div class="col-md-3 col-sm-6 text-center">
        <input type="button" value="Previous" ng-click="previous()" class="btn btn-primary previous form_button" />
    </div>
    <div class="col-md-offset-6 col-md-3 col-sm-6 text-center" ng-show="newBrokerForm">
        <input type="submit" value="Add Broker" class="btn btn-primary form_button" ng-disabled="broker_form.$invalid" />
    </div>

</div>
<div class="row" ng-hide="newBrokerForm">
    <div class="col-md-offset-9 col-md-3 col-sm-6 text-center" ng-hide="editMode">
        <input type="button" value="Edit" ng-click="edit()" class="btn btn-primary form_button" />
    </div>
    <div class="col-md-offset-9 col-md-3 col-sm-6 text-center" ng-show="editMode">
        <input type="button" value="Done" class="btn btn-primary form_button" ng-click="done()" />
    </div>

</div>
<br />
<div class="row" ng-hide="newBrokerForm">
    <div class="col-md-offset-9 col-md-3 col-sm-12 text-center" ng-show="editMode">
        <span class="text-warning"><i ng-show="saving" class="fa fa-cog fa-spin"></i> {{formStateMessage}}</span>
        <span ng-show="formStateError" class="text-warning">{{formStateError}}</span>
    </div>
</div>
<div class="row" ng-hide="newBrokerForm">
    <br />
    <div class="col-md-offset-9 col-md-3 col-sm-6 text-center" ng-show="editMode">
        <input type="button" value="Delete" class="btn btn-danger form_button" ng-click="deleteIt()" />
    </div>

</div>
<div class="row" ng-show="newBrokerForm">
    <div class="col-md-offset-9 col-md-3 col-sm-6 text-center">
        <input type="button" value="Clear Form" class="btn btn-warning next form_button" ng-click="clear()" />
    </div>
</div>
