﻿<h2>Broker Information</h2>
<br />
<div class="row fade_section">
    <div class="form-group col-md-3 col-sm-6">
        <label for="name">Name</label>
        <input type="text"
               class="form-control"
               id="name"
               name="name"
               ng-model="broker.name"
               maxlength="100"
               ng-maxlength="100"
               required
               ng-change="checkbrokername()"
               ng-keyup="checkbrokername()"
               ng-class="{'ng-invalid' : brokernamevalid < 0}"
               ng-disabled="!editMode" />
        <span ng-show="brokernamevalid == -2" class="text-warning">Broker already exists.</span>
        <span ng-show="brokernamevalid == -1" class="text-warning">A name is required.</span>
        <span ng-hide="newBrokerForm" class="text-brand">
            Contracts with broker: <a ng-click="navigate({path:'contracts',search:{broker_id: broker.id},hash:'Broker'})">Open</a>,
            <a ng-click="navigate({path:'contracts',search:{broker_id: broker.id},hash:'BrokerClosed'})"> Closed</a>
        </span>
    </div>
    <div class="form-group col-md-3 col-sm-6">
        <label for="certificate_required">Certificate Required</label>
        <select id="certificate_required" class="form-control" name="certificate_required" ng-model="broker.certificate_required" ng-disabled="!editMode">
            <option value="Not Specified">Not Specified</option>
            <option value="Yes">Yes</option>
            <option value="No">No</option>
        </select>
    </div>
    <div class="form-group col-md-3 col-sm-6">
        <label for="bol_type">Bill of Lading</label>
        <select id="bol_type" class="form-control" name="bol_type" ng-model="broker.bol_type" ng-disabled="!editMode">
            <option value="Not Specified">Not Specified</option>
            <option value="In House">In House</option>
            <option value="Broker">Broker</option>
            <option value="Other">Other</option>
        </select>
    </div>
    <div class="form-group col-md-3 col-sm-6">
        <label for="extra_paperwork">Extra Paperwork</label>
        <select id="extra_paperwork" class="form-control" name="bol_type" ng-model="broker.extra_paperwork" ng-disabled="!editMode">
            <option value="Not Specified">Not Specified</option>
            <option value="Yes">Yes</option>
            <option value="No">No</option>
        </select>
    </div>
</div>
<div class="row">
    <div class="form-group col-md-3 col-sm-6">
        <label for="payment_method">Payment Method</label>
        <input id="payment_method" type="text" class="form-control" name="payment_method" maxlength="50" ng-model="broker.payment_method" ng-maxlength="50" ng-disabled="!editMode" />
    </div>
</div>
<br />
<div class="row" ng-show="newBrokerForm">
    <div class="col-md-offset-3 col-md-6 col-sm-12 text-center">
        <span class="text-warning"><i ng-show="saving" class="fa fa-cog fa-spin"></i> {{formStateMessage}}</span>
        <span ng-show="formStateError" class="text-warning">{{formStateError}}</span>
    </div>

</div>
<br />
<div class="row" ng-show="newBrokerForm">
    <div class="col-md-offset-9 col-md-3 col-sm-6 text-center">
        <input type="button" value="Next" class="btn btn-primary next form_button" ng-click="next()" ng-disabled="brokernamevalid < 0" />
    </div>

</div>
<div class="row" ng-hide="newBrokerForm">
    <div class="col-md-offset-9 col-md-3 col-sm-6 text-center" ng-hide="editMode">
        <input type="button" value="Edit" ng-click="edit()" class="btn btn-primary form_button" />
    </div>
    <div class="col-md-offset-9 col-md-3 col-sm-6 text-center" ng-show="editMode">
        <input type="button" value="Done" class="btn btn-primary form_button" ng-click="done()" />
    </div>

</div>
<br />
<div class="row" ng-hide="newBrokerForm">
    <div class="col-md-offset-9 col-md-3 col-sm-12 text-center" ng-show="editMode">
        <span class="text-warning"><i ng-show="saving" class="fa fa-cog fa-spin"></i> {{formStateMessage}}</span>
        <span ng-show="formStateError" class="text-warning">{{formStateError}}</span>
    </div>
</div>
<div class="row" ng-hide="newBrokerForm">
    <br />
    <div class="col-md-offset-9 col-md-3 col-sm-6 text-center" ng-show="editMode">
        <input type="button" value="Delete" class="btn btn-danger form_button" ng-click="deleteIt()" />
    </div>

</div>
<div class="row" ng-show="newBrokerForm">
    <div class="col-md-offset-9 col-md-3 col-sm-6 text-center">
        <input type="button" value="Clear Form" class="btn btn-warning next form_button" ng-click="clear()" />
    </div>
</div>
