﻿<h2>Contact Information</h2>
<br />
<div class="row">
    <div class="form-group col-md-3 col-sm-6">
        <label for="phone">Phone</label>
        <input type="text" 
               class="form-control" 
               id="phone" 
               name="phone"
               maxlength="50"
               ng-model="broker.phone"
               ng-maxlength="50" 
               ng-disabled="!editMode"/>
    </div>
    <div class="form-group col-md-3 col-sm-6">
        <label for="email">Email</label>
        <input type="email" 
               class="form-control" 
               id="email" name="email" 
               maxlength="50"
               ng-model="broker.email"
               ng-maxlength="50"
               ng-pattern='/^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/' 
               ng-disabled="!editMode"/>
    </div>
    <div class="form-group col-md-3 col-sm-6">
        <label for="fax">Fax</label>
        <input type="text" 
               class="form-control" 
               id="fax" name="fax" 
               maxlength="50"
               ng-model="broker.fax"
               ng-maxlength="50" 
               ng-disabled="!editMode"/>
    </div>
</div>

<div class="row">
    <div class="form-group col-md-6 col-sm-6">
        <label for="hours">Hours</label>
        <textarea type="text" 
                  class="form-control" 
                  id="hours" name="hours" 
                  ng-model="broker.hours" 
                  maxlength="100" 
                  ng-maxlength="100" 
                  ng-disabled="!editMode"/>
    </div>
</div>

<div class="row">
    <div class="form-group col-md-6 col-sm-6">
        <label for="dispatch_contact_notes">Dispatch Contact Notes</label>
        <textarea type="text" 
                  class="form-control" 
                  id="dispatch_contact_notes" 
                  name="dispatch_contact_notes" 
                  ng-model="broker.dispatch_contact_notes" 
                  ng-disabled="!editMode"/>
    </div>
</div>
<div class="row">
    <div class="form-group col-md-6 col-sm-6">
        <label for="update_contact_notes">Update Contact Notes</label>
        <textarea type="text" 
                  class="form-control" 
                  id="update_contact_notes" 
                  name="update_contact_notes" 
                  ng-model="broker.update_contact_notes" 
                  ng-disabled="!editMode"/>
    </div>
</div>
<br />
<div class="row" ng-show="newBrokerForm">
    <div class="col-md-offset-3 col-md-6 col-sm-12 text-center">
        <span class="text-warning"><i ng-show="saving" class="fa fa-cog fa-spin"></i> {{formStateMessage}}</span>
        <span ng-show="formStateError" class="text-warning">{{formStateError}}</span>
    </div>

</div>
<br />
<div class="row" ng-show="newBrokerForm">
    <div class="col-md-3 col-sm-6 text-center">
        <input type="button" value="Previous" ng-click="previous()" class="btn btn-primary previous form_button" />
    </div>
    <div class="col-md-offset-6 col-md-3 col-sm-6 text-center">
        <input type="button" value="Next" class="btn btn-primary next form_button" ng-click="next()" ng-disabled="broker_form.name.$invalid" />
    </div>

</div>
<div class="row" ng-hide="newBrokerForm">
    <div class="col-md-offset-9 col-md-3 col-sm-6 text-center" ng-hide="editMode">
        <input type="button" value="Edit" ng-click="edit()" class="btn btn-primary form_button" />
    </div>
    <div class="col-md-offset-9 col-md-3 col-sm-6 text-center" ng-show="editMode">
        <input type="button" value="Done" class="btn btn-primary form_button" ng-click="done()" />
    </div>

</div>
<br />
<div class="row" ng-hide="newBrokerForm">
    <div class="col-md-offset-9 col-md-3 col-sm-12 text-center" ng-show="editMode">
        <span class="text-warning"><i ng-show="saving" class="fa fa-cog fa-spin"></i> {{formStateMessage}}</span>
        <span ng-show="formStateError" class="text-warning">{{formStateError}}</span>
    </div>
</div>
<div class="row" ng-hide="newBrokerForm">
    <br />
    <div class="col-md-offset-9 col-md-3 col-sm-6 text-center" ng-show="editMode">
        <input type="button" value="Delete" class="btn btn-danger form_button" ng-click="deleteIt()" />
    </div>

</div>
<div class="row" ng-show="newBrokerForm">
    <div class="col-md-offset-9 col-md-3 col-sm-6 text-center">
        <input type="button" value="Clear Form" class="btn btn-warning next form_button" ng-click="clear()" />
    </div>
</div>


