﻿<h2>Contract Information</h2>
<br />
<div class="row">
    <div class="form-group col-md-3 col-sm-6">
        <label for="trip_number">Trip Number</label>
        <input type="number" min="1" class="form-control" id="trip_number" name="trip_number" ng-model="contract.trip_number" ng-disabled="!editMode" />
    </div>
    <div class="form-group col-md-3 col-sm-6">
        <label for="order_number" maxlength="50">Order Number</label>
        <input type="text" class="form-control" id="order_number" name="order_number" ng-model="contract.order_number" maxlength="50" ng-maxlength="50" ng-disabled="!editMode" />
    </div>
    <div class="form-group col-md-3 col-sm-6">
        <label for="price">Price</label>
        <input type="number" class="form-control" id="price" name="price" ng-model="contract.price" ng-disabled="!editMode" />
    </div>
    <div class="form-group col-md-3 col-sm-6">
        <label for="broker_fee">Broker Fee</label>
        <input type="number" class="form-control" id="broker_fee" name="broker_fee" ng-model="contract.broker_fee" ng-disabled="!editMode" />
    </div>

</div>
<div class="row">
    <div class="form-group col-md-3 col-sm-6">
        <label for="dispatch_date">Dispatch Date (required)</label>
        <input type="date" class="form-control" id="dispatch_date" name="dispatch_date" ng-model="contract.dispatch_date" required ng-disabled="!editMode" />
        <span ng-show="contract_form.dispatch_date.$invalid" class="text-warning">Dispatch Date is required.</span>
    </div>
    <div class="form-group col-md-3 col-sm-6">
        <label for="status">Status</label>
        <select id="status" name="status" class="form-control" ng-model="contract.status" ng-disabled="!editMode">
            <option value="Dispatched" ng-selected="true">Dispatched</option>
            <option value="Picked-up">Picked-up</option>
            <option value="Delivered">Delivered</option>
            <option value="Invoiced">Invoiced</option>
            <option value="Closed">Closed</option>
        </select>
    </div>

    <div class="form-group col-md-3 col-sm-6" ng-hide="newContractForm">
        <label for="invoice_date">invoice date</label>
        <input type="date" class="form-control" id="invoice_date" name="invoice_date" ng-model="contract.invoice_date" ng-disabled="!editMode" />
    </div>
    <div class="form-group col-md-3 col-sm-6" ng-hide="newContractForm">
        <label for="rated">Rated</label>
        <select id="rated" name="rated" class="form-control" ng-model="contract.rated"
                ng-options="item.val as item.label for item in [{ val: false, label: 'No' }, { val: true, label: 'Yes' }]"
                ng-disabled="!editMode"></select>
    </div>
</div>
<div class="row" ng-hide="newContractForm">
    <div class="form-group col-md-3 col-sm-6">
        <label for="paid">Paid</label>
        <select id="paid" name="paid" class="form-control" ng-model="contract.paid"
                ng-options="item.val as item.label for item in [{ val: false, label: 'No' }, { val: true, label: 'Yes' }]" ng-disabled="!editMode"></select>
    </div>
    <div class="form-group col-md-3 col-sm-6">
        <label for="payment_date">payment date</label>
        <input type="date" class="form-control" id="payment_date" name="payment_date" ng-model="contract.payment_date" ng-disabled="!editMode" />
    </div>
</div>
<br />
<div class="row" ng-show="newContractForm">
    <div class="col-md-offset-3 col-md-6 col-sm-12 text-center">
        <span class="text-warning"><i ng-show="saving" class="fa fa-cog fa-spin"></i> {{formStateMessage}}</span>
        <span ng-show="formStateError" class="text-warning">{{formStateError}}</span>
    </div>

</div>
<br />
<div class="row" ng-show="newContractForm">
    <div class="col-md-offset-9 col-md-3 col-sm-6 text-center">
        <input type="button" value="Next" class="btn btn-primary next form_button" ng-click="next()" ng-disabled="contract_form.dispatch_date.$invalid" />
    </div>

</div>
<div class="row" ng-hide="newContractForm">
    <div class="col-md-offset-9 col-md-3 col-sm-6 text-center" ng-hide="editMode">
        <input type="button" value="Edit" ng-click="edit()" class="btn btn-primary form_button" />
    </div>
    <div class="col-md-offset-9 col-md-3 col-sm-6 text-center" ng-show="editMode">
        <input type="button" value="Done" class="btn btn-primary form_button" ng-click="done()" />
    </div>

</div>
<br />
<div class="row" ng-hide="newContractForm">
    <div class="col-md-offset-9 col-md-3 col-sm-12 text-center" ng-show="editMode">
        <span class="text-warning"><i ng-show="saving" class="fa fa-cog fa-spin"></i> {{formStateMessage}}</span>
        <span ng-show="formStateError" class="text-warning">{{formStateError}}</span>
    </div>
</div>
<div class="row" ng-hide="newContractForm">
    <br />
    <div class="col-md-offset-9 col-md-3 col-sm-6 text-center" ng-show="editMode">
        <input type="button" value="Delete" class="btn btn-danger form_button" ng-click="deleteIt()" />
    </div>

</div>
<div class="row" ng-show="newContractForm">
    <div class="col-md-offset-9 col-md-3 col-sm-6 text-center">
        <input type="button" value="Clear Form" class="btn btn-warning form_button" ng-click="clear()" />
    </div>
</div>
