﻿<h2>Broker Information</h2>
<br />
<div class="row">
    <div class="form-group col-md-3 col-sm-6">
        <label for="status">Broker</label>
        <input id="broker_name" type="text" class="form-control" name="broker_name" ng-model="contract.broker_name" ng-change="checkbroker()" ng-keyup="checkbroker()" ng-class="{'ng-invalid':contract.broker_id < 0}" ng-disabled="!editMode"/>
        <span ng-show="contract.broker_id == -2" class="text-warning">Broker not found.</span>
        <span ng-show="contract.broker_id == -1" class="text-warning">Broker is required.</span>
        <span ng-show="contract.broker_id >= 0" class="text-brand"><a href="#!/edit_broker/{{contract.broker_id}}">Go to broker</a> - <a ng-click="navigate({path:'contracts',search:{broker_id: contract.broker_id},hash:'Broker'})">see contracts with broker</a></span>
    </div>
    <div class="form-group col-md-3 col-sm-6">
        <label for="bol_type">Bill of Lading</label>
        <select id="bol_type" class="form-control" name="bol_type" ng-model="contract.bol_type" ng-disabled="!editMode">
            <option value="Not Specified">Not Specified</option>
            <option value="In House">In House</option>
            <option value="Broker">Broker</option>
            <option value="Other">Other</option>
        </select>
    </div>
    <div class="form-group col-md-3 col-sm-6">
        <label for="payment_method">Payment Method</label>
        <input id="payment_method" type="text" class="form-control" name="payment_method" maxlength="50" ng-model="contract.payment_method" ng-maxlength="50" ng-disabled="!editMode"/>
    </div>
    <div class="form-group col-md-3 col-sm-6">
        <label for="payment_terms">Payment Terms</label>
        <input type="number" min="0" class="form-control" id="payment_terms" name="payment_terms" ng-model="contract.payment_terms" ng-disabled="!editMode"/>
    </div>
</div>


<div class="row">
    <div class="form-group col-md-6 col-sm-6">
        <label for="dispatch_contact_notes">Dispatch Contact Notes</label>
        <textarea type="text" class="form-control" id="dispatch_contact_notes" name="dispatch_contact_notes" ng-model="contract.dispatch_contact_notes" ng-disabled="!editMode"/>
    </div>
    <div class="form-group col-md-6 col-sm-6">
        <label for="update_contact_notes">Update Contact Notes</label>
        <textarea type="text" class="form-control" id="update_contact_notes" name="update_contact_notes" ng-model="contract.update_contact_notes" ng-disabled="!editMode"/>
    </div>
</div>

<div class="row">
    <div class="form-group col-md-3 col-sm-6">
        <label for="phone">Phone</label>
        <input type="text" class="form-control" id="phone" name="phone" maxlength="50"
               ng-model="broker.phone"
               ng-maxlength="50" 
               ng-disabled="!editMode"/>
    </div>
    <div class="form-group col-md-3 col-sm-6">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" name="email" maxlength="50"
               ng-model="broker.email"
               ng-maxlength="50"
               ng-pattern='/^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/' 
               ng-disabled="!editMode"/>
    </div>
    <div class="form-group col-md-3 col-sm-6">
        <label for="fax">Fax</label>
        <input type="text" class="form-control" id="fax" name="fax" maxlength="50"
               ng-model="broker.fax"
               ng-maxlength="50" 
               ng-disabled="!editMode"/>
    </div>
</div>
<br />
<div class="row" ng-show="newContractForm">
    <div class="col-md-offset-3 col-md-6 col-sm-12 text-center">
        <span class="text-warning"><i ng-show="saving" class="fa fa-cog fa-spin"></i> {{formStateMessage}}</span>
        <span ng-show="formStateError" class="text-warning">{{formStateError}}</span>
    </div>

</div>
<br />
<div class="row" ng-show="newContractForm">
    <div class="col-md-3 col-sm-6 text-center">
        <input type="button" value="Previous" ng-click="previous()" class="btn btn-primary previous form_button" />
    </div>
    <div class="col-md-offset-6 col-md-3 col-sm-6 text-center">
        <input type="button" value="Next" ng-click="next()" class="btn btn-primary next form_button" ng-disabled="contract.broker_id < 0" />
    </div>
</div>
<div class="row" ng-hide="newContractForm">
    <div class="col-md-offset-9 col-md-3 col-sm-6 text-center" ng-hide="editMode">
        <input type="button" value="Edit" ng-click="edit()" class="btn btn-primary form_button" />
    </div>
    <div class="col-md-offset-9 col-md-3 col-sm-6 text-center" ng-show="editMode">
        <input type="button" value="Done" class="btn btn-primary form_button" ng-click="done()" />
    </div>

</div>
<br />
<div class="row" ng-hide="newContractForm">
    <div class="col-md-offset-9 col-md-3 col-sm-12 text-center" ng-show="editMode">
        <span class="text-warning"><i ng-show="saving" class="fa fa-cog fa-spin"></i> {{formStateMessage}}</span>
        <span ng-show="formStateError" class="text-warning">{{formStateError}}</span>
    </div>
</div>
<div class="row" ng-hide="newContractForm">
    <br />
    <div class="col-md-offset-9 col-md-3 col-sm-6 text-center" ng-show="editMode">
        <input type="button" value="Delete" class="btn btn-danger form_button" ng-click="deleteIt()" />
    </div>

</div>
<div class="row" ng-show="newContractForm">
    <div class="col-md-offset-9 col-md-3 col-sm-6 text-center">
        <input type="button" value="Clear Form" class="btn btn-warning next form_button" ng-click="clear()" />
    </div>

</div>