﻿<h2>Vehicle Information</h2>
<br />
<div class="row">
    <div class="form-group col-md-3 col-sm-6">
        <label for="vin_number">Vin Number</label>
        <input type="text" 
               class="form-control" 
               id="vin_number" name="vin_number" 
               maxlength="50" 
               ng-model="contract.vin_number" 
               ng-maxlength="50" 
               ng-disabled="!editMode"/>
    </div>
    <div class="form-group col-md-3 col-sm-6">
        <label for="year">Year</label>
        <input type="text" 
               class="form-control" 
               id="year" 
               name="year" 
               pattern="[0-9]{4}" 
               maxlength="4"
               ng-model="contract.year"
               ng-maxlength="4"
               ng-pattern='/^[0-9]{4}$/' 
               ng-disabled="!editMode"/>
    </div>
    <div class="form-group col-md-3 col-sm-6">
        <label for="model">Model</label>
        <input type="text" 
               class="form-control" 
               id="model" 
               name="model" 
               maxlength="50" 
               ng-model="contract.model" 
               ng-maxlength="50" 
               ng-disabled="!editMode"/>
    </div>
    <div class="form-group col-md-3 col-sm-6" ">
        <label for="make">Make</label>
        <input type="text" 
               class="form-control" 
               id="make" 
               name="make" 
               maxlength="50" 
               ng-model="contract.make" 
               ng-maxlength="50" 
               ng-disabled="!editMode"/>
    </div>

</div>
<br />
<div class="row" ng-show="newContractForm">
    <div class="col-md-offset-3 col-md-6 col-sm-12 text-center">
        <span class="text-warning"><i ng-show="saving" class="fa fa-cog fa-spin"></i> {{formStateMessage}}</span>
        <span ng-show="formStateError" class="text-warning">{{formStateError}}</span>
    </div>

</div>
<br />
<div class="row" ng-show="newContractForm">
    <div class="col-md-3 col-sm-6 text-center">
        <input type="button" value="Previous" ng-click="previous()" class="btn btn-primary previous form_button" />
    </div>
    <div class="col-md-offset-6 col-md-3 col-sm-6 text-center">
        <input type="button" value="Next" ng-click="next()" class="btn btn-primary form_button"/>
    </div>
</div>
<div class="row" ng-hide="newContractForm">
    <div class="col-md-offset-9 col-md-3 col-sm-6 text-center" ng-hide="editMode">
        <input type="button" value="Edit" ng-click="edit()" class="btn btn-primary form_button" />
    </div>
    <div class="col-md-offset-9 col-md-3 col-sm-6 text-center" ng-show="editMode">
        <input type="button" value="Done" class="btn btn-primary form_button" ng-click="done()" />
    </div>

</div>
<br />
<div class="row" ng-hide="newContractForm">
    <div class="col-md-offset-9 col-md-3 col-sm-12 text-center" ng-show="editMode">
        <span class="text-warning"><i ng-show="saving" class="fa fa-cog fa-spin"></i> {{formStateMessage}}</span>
        <span ng-show="formStateError" class="text-warning">{{formStateError}}</span>
    </div>
</div>
<div class="row" ng-hide="newContractForm">
    <br />
    <div class="col-md-offset-9 col-md-3 col-sm-6 text-center" ng-show="editMode">
        <input type="button" value="Delete" class="btn btn-danger form_button" ng-click="deleteIt()" />
    </div>

</div>
<div class="row" ng-show="newContractForm">
    <div class="col-md-offset-9 col-md-3 col-sm-6 text-center">
        <input type="button" value="Clear Form" class="btn btn-warning next form_button" ng-click="clear()" />
    </div>

</div>