﻿<h2>Pick-up</h2>
<br />
<div class="row">
    <div class="form-group col-md-3 col-sm-6">
        <label for="pickup_name">Name</label>
        <input type="text" 
               class="form-control" 
               id="pickup_name" 
               name="pickup_name" 
               maxlength="50" 
               ng-model="contract.pickup_name"
               ng-maxlength="50" 
               ng-disabled="!editMode"/>
    </div>
    <div class="form-group col-md-3 col-sm-6">
        <label for="pickup_phone">Phone</label>
        <input type="text" 
               class="form-control" 
               id="pickup_phone" 
               name="pickup_phone" 
               maxlength="50" 
               ng-model="contract.pickup_phone" 
               ng-maxlength="50" 
               ng-disabled="!editMode"/>
    </div>
    <div class="form-group col-md-3 col-sm-6">
        <label for="pickup_email">Email</label>
        <input type="text" class="form-control" id="pickup_email" name="pickup_email" maxlength="50"
               ng-model="contract.pickup_email"
               ng-maxlength="50"
               ng-pattern='/^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/' 
               ng-disabled="!editMode"/>
    </div>
</div>
<div class="row">
    <div class="form-group col-md-3 col-sm-6">
        <label for="pickup_start">Pick-up Estimate Start</label>
        <input type="date" 
               class="form-control" 
               id="pickup_start" 
               name="pickup_start" 
               ng-model="contract.pickup_start" 
               ng-disabled="!editMode"/>
    </div>
    <div class="form-group col-md-3 col-sm-6">
        <label for="pickup_end">Pick-up Estimate End</label>
        <input type="date" 
               class="form-control" 
               id="pickup_end" 
               name="pickup_end" 
               ng-model="contract.pickup_end" 
               ng-disabled="!editMode"/>
    </div>
    <div class="form-group col-md-3 col-sm-6" ng-hide="newContractForm">
        <label for="pickup_date">Actual Pick-up Date</label>
        <input type="date" 
               class="form-control" 
               id="pickup_date" 
               name="pickup_date" 
               ng-model="contract.pickup_date" 
               ng-disabled="!editMode"/>
    </div>
</div>
<div class="row">
    <div class="form-group col-md-6 col-sm-6">
        <label for="pickup_address">Pick-up Address</label>
        <textarea type="text" 
                  class="form-control" 
                  id="pickup_address" 
                  name="pickup_address" 
                  ng-model="contract.pickup_address" 
                  ng-disabled="!editMode"/>
    </div>
</div>
<br />
<div class="row" ng-show="newContractForm">
    <div class="col-md-offset-3 col-md-6 col-sm-12 text-center">
        <span class="text-warning"><i ng-show="saving" class="fa fa-cog fa-spin"></i> {{formStateMessage}}</span>
        <span ng-show="formStateError" class="text-warning">{{formStateError}}</span>
    </div>

</div>
<br />
<div class="row" ng-show="newContractForm">
    <div class="col-md-3 col-sm-6 text-center">
        <input type="button" value="Previous" ng-click="previous()" class="btn btn-primary previous form_button" />
    </div>
    <div class="col-md-offset-6 col-md-3 col-sm-6 text-center">
        <input type="button" value="Next" ng-click="next()" class="btn btn-primary form_button" />
    </div>
</div>
<div class="row" ng-hide="newContractForm">
    <div class="col-md-offset-9 col-md-3 col-sm-6 text-center" ng-hide="editMode">
        <input type="button" value="Edit" ng-click="edit()" class="btn btn-primary form_button" />
    </div>
    <div class="col-md-offset-9 col-md-3 col-sm-6 text-center" ng-show="editMode">
        <input type="button" value="Done" class="btn btn-primary form_button" ng-click="done()" />
    </div>

</div>
<br />
<div class="row" ng-hide="newContractForm">
    <div class="col-md-offset-9 col-md-3 col-sm-12 text-center" ng-show="editMode">
        <span class="text-warning"><i ng-show="saving" class="fa fa-cog fa-spin"></i> {{formStateMessage}}</span>
        <span ng-show="formStateError" class="text-warning">{{formStateError}}</span>
    </div>
</div>
<div class="row" ng-hide="newContractForm">
    <br />
    <div class="col-md-offset-9 col-md-3 col-sm-6 text-center" ng-show="editMode">
        <input type="button" value="Delete" class="btn btn-danger form_button" ng-click="deleteIt()" />
    </div>

</div>
<div class="row" ng-show="newContractForm">
    <div class="col-md-offset-9 col-md-3 col-sm-6 text-center">
        <input type="button" value="Clear Form" class="btn btn-warning next form_button" ng-click="clear()" />
    </div>

</div>
