﻿<h2>Drop Off</h2>
<br />
<div class="row">
    <div class="form-group col-md-3 col-sm-6 ">
        <label for="dropoff_name">Name</label>
        <input type="text" class="form-control" id="dropoff_name" name="dropoff_name" maxlength="50"
               ng-model="contract.dropoff_name"
               ng-maxlength="50" 
               ng-disabled="!editMode"/>
    </div>
    <div class="form-group col-md-3 col-sm-6 ">
        <label for="dropoff_phone">Phone</label>
        <input type="text" class="form-control" id="dropoff_phone" name="dropoff_phone" maxlength="50"
               ng-model="contract.dropoff_phone"
               ng-maxlength="50" 
               ng-disabled="!editMode"/>
    </div>
    <div class="form-group col-md-3 col-sm-6 ">
        <label for="dropoff_email">Email</label>
        <input type="email" class="form-control" id="dropoff_email" name="dropoff_email" maxlength="50"
               ng-model="contract.dropoff_email"
               ng-maxlength="50"
               ng-pattern='/^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/' 
               ng-disabled="!editMode"/>
    </div>
</div>
<div class="row">
    <div class="form-group col-md-3 col-sm-6 ">
        <label for="dropoff_start">Drop Off Estimate Start</label>
        <input type="date" 
               class="form-control" 
               id="dropoff_start" 
               name="dropoff_start" 
               ng-model="contract.dropoff_start" 
               ng-disabled="!editMode"/>
    </div>
    <div class="form-group col-md-3 col-sm-6 ">
        <label for="dropoff_end">Drop Off Estimate End</label>
        <input type="date" 
               class="form-control" 
               id="dropoff_end" 
               name="dropoff_end" 
               ng-model="contract.dropoff_end" 
               ng-disabled="!editMode"/>
    </div>
    <div class="form-group col-md-3 col-sm-6 " ng-hide="newContractForm">
        <label for="dropoff_date">Actual Drop Off Date</label>
        <input type="date" 
               class="form-control" 
               id="dropoff_date" 
               name="dropoff_date" 
               ng-model="contract.dropoff_date" 
               ng-disabled="!editMode"/>
    </div>
</div>
<div class="row">
    <div class="form-group col-md-6 col-sm-6">
        <label for="dropoff_address">Dropoff Address</label>
        <textarea type="text" 
                  class="form-control" 
                  id="dropoff_address" 
                  name="dropoff_address" 
                  ng-model="contract.dropoff_address" 
                  ng-disabled="!editMode"/>
    </div>
</div>
<br />
<div class="row" ng-show="newContractForm">
    <div class="col-md-offset-3 col-md-6 col-sm-12 text-center">
        <span class="text-warning"><i ng-show="saving" class="fa fa-cog fa-spin"></i> {{formStateMessage}}</span>
        <span ng-show="formStateError" class="text-warning">{{formStateError}}</span>
    </div>

</div>
<br />
<div class="row" ng-show="newContractForm">
    <div class="col-md-3 col-sm-6 text-center">
        <input type="button" value="Previous" ng-click="previous()" class="btn btn-primary previous form_button" />
    </div>
    <div class="col-md-offset-6 col-md-3 col-sm-6 text-center" ng-show="newContractForm">
        <input type="submit" value="Add Contract" class="btn btn-primary form_button" ng-disabled="contract_form.$invalid" />
    </div>
</div>
<div class="row" ng-hide="newContractForm">
    <div class="col-md-offset-9 col-md-3 col-sm-6 text-center" ng-hide="editMode">
        <input type="button" value="Edit" ng-click="edit()" class="btn btn-primary form_button" />
    </div>
    <div class="col-md-offset-9 col-md-3 col-sm-6 text-center" ng-show="editMode">
        <input type="button" value="Done" class="btn btn-primary form_button" ng-click="done()" />
    </div>

</div>
<br />
<div class="row" ng-hide="newContractForm">
    <div class="col-md-offset-9 col-md-3 col-sm-12 text-center" ng-show="editMode">
        <span class="text-warning"><i ng-show="saving" class="fa fa-cog fa-spin"></i> {{formStateMessage}}</span>
        <span ng-show="formStateError" class="text-warning">{{formStateError}}</span>
    </div>
</div>
<div class="row" ng-hide="newContractForm">
    <br />
    <div class="col-md-offset-9 col-md-3 col-sm-6 text-center" ng-show="editMode">
        <input type="button" value="Delete" class="btn btn-danger form_button" ng-click="deleteIt()" />
    </div>

</div>
<div class="row" ng-show="newContractForm">
    <div class="col-md-offset-9 col-md-3 col-sm-6 text-center">
        <input type="button" value="Clear Form" class="btn btn-warning next form_button" ng-click="clear()" />
    </div>

</div>
