﻿

@import "../../../lib/bootstrap/less/bootstrap.less";


#viewDiv{

    margin-top: 50px;

}

.form-control{

    font-size: 16px;

}

label{

    font-size: 18px;

}

/*Add New Contract Styles*/


.fade_section {
  transition: opacity .5s, bottom .5s linear;
}

.fade_progress_bar {
  transition: color .5s, background .5s linear;
}

.contract_section{
    opacity: 0;
    position: absolute;
    bottom: -99999px;
}
.active{
    opacity: 1;
    position: inherit;
    bottom: initial;
}

.progress-list-bar{

    margin-bottom: 30px;
    list-style: none;
    overflow: hidden;

}

.tab-list-bar{

    margin-bottom: 30px;
    list-style: none;
    overflow: hidden;
}

.progress-list-bar li{

    float: left;
    width: 20%;
    position: relative;
    text-align: center;

}

.tab-list-bar li{

    float: left;
    width: 20%;
    position: relative;
    text-align: center;

}

.progress-list-bar li div{

    background: @theme3;
    padding: 10px;
    color: @theme1;
    border: solid 1px @theme1;
    border-radius: 5px;
    width: 50%;

}

.tab-list-bar li div{

    background: @theme3;
    padding: 10px;
    color: @theme4;
    border: solid 1px @theme1;
    border-radius: 5px;
    width: 50%;
    cursor: pointer;

}

.tab-list-bar li div:hover{
    transition: none;
    color: @theme2;

}

.active-step{
    color: @theme3 !important; 
    background: @theme5 !important;
}

.active-tab{
    color: @theme3 !important; 
    background: @theme4 !important;
}


.progress-list-bar li::before{

    content: '';
    width: 100%;
    background: @theme1;
    height: 3px;
    position: absolute;
    left: -50%;
    top: 50%;
    z-index: -1;


}

.progress-list-bar li.active::before{

    background: @theme5;
}



.progress-list-bar li:first-child::before{

    content: none;

}


 .form_button{

     width: 150px;

 }

 .ng-invalid{

     border-color: @brand-danger;

 }

 a {
    cursor: pointer;
}


 //angular-datatables overrides

 .dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    color: @theme3 !important;
    border: solid 1px @theme1;
    background: @theme4;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    padding: 0.3em 0.8em;
    border-radius: 7px;
    border: 1px solid transparent;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    color: @theme2 !important;
    border: solid 1px @theme1;
    background: @theme3;
}

.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate {
    color: @theme5 !important;
}

td a:hover{
    color: @theme2 !important;

}


.form-control[disabled]{
    cursor: text; 
    
    
    -webkit-appearance: none;

}


.form-control[disabled]:not(textarea) {
    -webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0);
    border: 1px solid transparent;
    background-color: transparent;
}

.colToggle{

    padding: 0px 4px;
    margin-bottom: 4px;

}

.btn-off{

    background: @theme3;
    color: @theme4;
    border: solid 1px @theme1;

}

.btn-off:hover{

    color: @theme2;

}

table input{
        width: 100%;

}


/*.btn-circle {
  width: 60px;
  height: 60px;
  text-align: center;
  border-radius: 50%;
  border: solid 2px @theme1;
  color: @theme1;
  font-size: 12px;
  padding: 0px;
  display: table-cell;
  vertical-align: middle;
  font-weight: 600;
}

.btn-circle:focus {outline:0 !important;}
.btn-circle:active {outline:0 !important;}

.btn-circle span{
    width: 100%;
}

.btn-circle .glyphicon{
    font-size: 240%;
}

.btn-circle.btn-sm {
  width: 30px;
  height: 30px;
  font-size: 18px;
}

.btn-circle.btn-sm .glyphicon{
    font-size: 100%;
}

.btn-circle.btn-lg {
    width: 80px;
    height: 80px;
    font-size: 16px;
}

.btn-circle.btn-lg .glyphicon{
    font-size: 260%;
}

.btn-circle.btn-xl {
  width: 120px;
  height: 120px;
  font-size: 20px;
}

.btn-circle.btn-xl .glyphicon{
    font-size: 280%;
}

.btn-circle.btn-xxl {
  width: 160px;
  height: 160px;
  font-size: 30px;
}

.btn-circle.btn-xxl .glyphicon{
    font-size: 300%;
}



.font-sm{
    font-size: 6px;
}

.font-md{
    font-size: 10px;
}

.font-lg{
    font-size: 14px;
}

.text-circle-xxl{
    font-size: 14px;
}*/