﻿
@{ 

    ViewBag.Title = "Hotshot - Home";
    ViewBag.NavClassHome = "active";
    ViewBag.NavClassDashboard = "";
}

@section header{

<script src="~/Js/Modules/index_module.js"></script>
<script src="~/Js/Controllers/index_controller.js"></script>
<script src="~/Js/Controllers/dashboard_controller.js"></script>
<script src="~/Js/Services/brokers_service.js"></script>
<script src="~/Js/Services/contracts_service.js"></script>
<script src="~/Js/Services/form_service.js"></script>
<script src="~/Js/Controllers/new_contract_controller.js"></script>
<script src="~/Js/Controllers/new_broker_controller.js"></script>
<script src="~/Js/Controllers/confirm_controller.js"></script>
<script src="~/Js/Controllers/okay_controller.js"></script>
<script src="~/Js/Controllers/edit_contract_controller.js"></script>
<script src="~/Js/Controllers/edit_broker_controller.js"></script>
<script src="~/Js/Directives/contractBasicFieldset.js"></script>
<script src="~/Js/Directives/contractBrokerFieldset.js"></script>
<script src="~/Js/Directives/contractVehicleFieldset.js"></script>
<script src="~/Js/Directives/contractPickupFieldset.js"></script>
<script src="~/Js/Directives/contractDropoffFieldset.js"></script>
<script src="~/Js/Directives/brokerBasicFieldset.js"></script>
<script src="~/Js/Directives/brokerContactFieldset.js"></script>
<script src="~/Js/Directives/brokerOnlineFieldset.js"></script>
<script src="~/Js/Controllers/contracts_controller.js"></script>
<script src="~/Js/Controllers/brokers_controller.js"></script>>

}


<div id="viewDiv">
    <div ng-view></div>

</div>