﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/datatables.net/js/jquery.dataTables.js"></script>
    <script src="~/lib/jqueryui/jquery-ui.js"></script>
    <link href="~/lib/jqueryui/themes/base/jquery-ui.css" rel="stylesheet" />
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <link href="~/lib/datatables/media/css/dataTables.bootstrap.css" rel="stylesheet" />
    <script src="~/lib/angular/angular.min.js"></script>
    <script src="~/lib/angular-route/angular-route.min.js"></script>
    <script src="~/lib/underscore/underscore-min.js"></script>
    <script src="~/lib/angular-modal-service/dst/angular-modal-service.js"></script>
    <script src="~/lib/angular-datatables/dist/angular-datatables.js"></script>
    <link href="~/lib/Font-Awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/lib/angular-datatables/dist/css/angular-datatables.css" rel="stylesheet" />
    <link href="~/Styles/Views/Shared/_Layout.css" rel="stylesheet" />
    <script src="~/Js/Views/global.js"></script>


    @RenderSection("header")
</head>
<body ng-app="index">
    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#!/">Hotshot</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav" ng-controller="indexController">
                    <li><a ng-click="navigate('contracts',{status:'Dispatched'},'Dispatched')">Dispatched</a></li>
                    <li><a ng-click="navigate('contracts',{status:'Picked-up'},'Picked-up')">Picked-up</a></li>
                    <li><a ng-click="navigate('contracts',{status:'Delivered'},'Delivered')">Delivered</a></li>
                    <li><a ng-click="navigate('contracts',{status:'Invoiced'},'Invoiced')">Invoiced</a></li>
                    <li><a ng-click="navigate('contracts',{status:'Closed'},'Closed')">Closed</a></li>
                    <li><a ng-click="navigate('contracts',{status:'Closed'},'Filter')">All Open Contracts</a></li>
                    <li><a ng-click="navigate('brokers',{deleted: true},'Filter')">Brokers</a></li>
                    <li><a href="#!/new_contract">Add New Contract</a></li>
                    <li><a href="#!/new_broker">Add New Broker</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>
    <div>
        @RenderBody()
    </div>
</body>
</html>
