﻿
@{

    ViewBag.Title = "Hotshot - ServerError";
    ViewBag.NavClassHome = "";
    ViewBag.NavClassDashboard = "";
}

@section header{


}


<div id="viewDiv">
    <div>Oh no! Something went wrong. Please try again and notify Bryant if the problem persists.</div>

</div>