﻿
@{

    ViewBag.Title = "Hotshot - WebError";
    ViewBag.NavClassHome = "";
    ViewBag.NavClassDashboard = "";
}

@section header{


}


<div id="viewDiv">
    <div>Looks like you made a wrong turn. There's nothing here.</div>

</div>