﻿

<div class="container-fluid">

    <div ng-show="status.loading" class="row"><div class="text-center col-sm-12"><h1><i class="fa fa-cog fa-spin"></i> Loading... </h1></div></div>

    <div ng-show="status.errorMessage" class="row"><div class="col-sm-12"><h2>{{status.errorMessage}}</h2></div></div>

    <div ng-hide="status.errorMessage">
        <div ng-hide="status.loading">
            <h2>{{header}}</h2>
            <div>
                <h4>
                    Toggle Columns: <button class="btn btn-warning colToggle" ng-click="resetColumns()">Reset</button>
                    <button class="btn colToggle" ng-click="toggleColumn('name')" ng-class="{'btn-primary': columns.name, 'btn-off': !columns.name}">Name</button>
                    <button class="btn colToggle" ng-click="toggleColumn('phone')" ng-class="{'btn-primary': columns.phone, 'btn-off': !columns.phone}">Phone</button>
                    <button class="btn colToggle" ng-click="toggleColumn('email')" ng-class="{'btn-primary': columns.email,'btn-off': !columns.email}">Email</button>
                    <button class="btn colToggle" ng-click="toggleColumn('contract_count')" ng-class="{'btn-primary': columns.contract_count,'btn-off': !columns.contract_count}">Open Contracts</button>
                    <button class="btn colToggle" ng-click="toggleColumn('outstanding_dollars')" ng-class="{'btn-primary': columns.outstanding_dollars,'btn-off': !columns.outstanding_dollars}">Outstanding $</button>
                    <button class="btn colToggle" ng-click="toggleColumn('bol_type')" ng-class="{'btn-primary': columns.bol_type,'btn-off': !columns.bol_type}">BOL Type</button>
                    <button class="btn colToggle" ng-click="toggleColumn('url')" ng-class="{'btn-primary': columns.url,'btn-off': !columns.url}">URL</button>
                    <button class="btn colToggle" ng-click="toggleColumn('load_board_url')" ng-class="{'btn-primary': columns.load_board_url,'btn-off': !columns.load_board_url}">Load Board URL</button>

                </h4>
            </div>
            <table datatable="ng" class="table table-striped table-hover hsTable" dt-instance="dtInstance">
                <thead>
                    <tr>
                        <th ng-show="columns.name">Name</th>
                        <th ng-show="columns.phone">Phone</th>
                        <th ng-show="columns.email">Email</th>
                        <th ng-show="columns.contract_count">Open Contracts</th>
                        <th ng-show="columns.outstanding_dollars">Outstanding $</th>
                        <th ng-show="columns.bol_type">BOL Type</th>
                        <th ng-show="columns.url">URL</th>
                        <th ng-show="columns.load_board_url">Load Board URL</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="broker in tableContents">
                        <td ng-show="columns.name"><a href="#!/edit_broker/{{broker.id}}">{{broker.name}}</a></td>
                        <td ng-show="columns.phone">{{broker.phone}}</td>
                        <td ng-show="columns.email">{{broker.email}}</td>
                        <td ng-show="columns.contract_count"><a ng-click="navigate('contracts',{broker_id: broker.id},'Broker')">{{broker.contract_count}} contracts</a></td>
                        <td ng-show="columns.outstanding_dollars">${{broker.outstanding_dollars.toFixed(2)}}</td>
                        <td ng-show="columns.bol_type">{{broker.bol_type}}</td>
                        <td ng-show="columns.url"><a ng-show="broker.url != null && broker.url.length > 0" href="{{broker.url}}" target="_blank">{{broker.url}}</a></td>
                        <td ng-show="columns.load_board_url"><a ng-show="broker.load_board_url != null && broker.load_board_url.length > 0" href="{{broker.load_board_url}}" target="_blank">{{broker.load_board_url}}</a></td>
                        <td><a href="#!/edit_broker/{{broker.id}}">Open Broker</a></td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td ng-show="columns.name && tableLoaded"><input id="search_name" placeholder="Search column..." onkeyup="angular.element(this).scope().search('name', 0)" /></td>
                        <td ng-show="columns.phone && tableLoaded"><input id="search_phone" placeholder="Search column" onkeyup="angular.element(this).scope().search('phone', 1)" /></td>
                        <td ng-show="columns.email && tableLoaded"><input id="search_email" placeholder="Search column..." onkeyup="angular.element(this).scope().search('email', 2)" /></td>
                        <td ng-show="columns.contract_count && tableLoaded"><input id="search_contract_count" placeholder="Search column..." onkeyup="angular.element(this).scope().search('contract_count', 3)" /></td>
                        <td ng-show="columns.outstanding_dollars && tableLoaded"><input id="search_outstanding_dollars" placeholder="Search column..." onkeyup="angular.element(this).scope().search('bol_type', 4)" /></td>
                        <td ng-show="columns.bol_type && tableLoaded"><input id="search_bol_type" placeholder="Search column..." onkeyup="angular.element(this).scope().search('bol_type', 5)" /></td>
                        <td ng-show="columns.url && tableLoaded"><input id="search_url" placeholder="Search column..." onkeyup="angular.element(this).scope().search('url', 6)" /></td>
                        <td ng-show="columns.load_board_url && tableLoaded"><input id="search_load_board_url" placeholder="Search column..." onkeyup="angular.element(this).scope().search('load_board_url', 7)" /></td>
                        <td></td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
    
</div>