﻿

<div class="container-fluid">
        <div ng-show="status.loading" class="row"><div class="text-center col-sm-12"><h1><i class="fa fa-cog fa-spin"></i> Loading... </h1></div></div>

        <div ng-show="status.errorMessage" class="row"><div class="col-sm-12"><h2>{{status.errorMessage}}</h2></div></div>

        <div ng-hide="status.errorMessage">
            <div ng-hide="status.loading">
                <h2>{{header}}</h2>
                <h3 ng-show="subHeader.length > 0">{{subHeader}}</h3>
                <div>
                    <h4>
                        Toggle Columns: <button class="btn btn-warning colToggle" ng-click="resetColumns()">Reset</button>
                        <button class="btn colToggle" ng-click="toggleColumn('trip_number')" ng-class="{'btn-primary': columns.trip_number, 'btn-off': !columns.trip_number}">Trip Number</button>
                        <button class="btn colToggle" ng-click="toggleColumn('broker')" ng-class="{'btn-primary': columns.broker, 'btn-off': !columns.broker}">Broker</button>
                        <button class="btn colToggle" ng-click="toggleColumn('order_number')" ng-class="{'btn-primary': columns.order_number,'btn-off': !columns.order_number}">Order Number</button>
                        <button class="btn colToggle" ng-click="toggleColumn('dispatch_date')" ng-class="{'btn-primary': columns.dispatch_date,'btn-off': !columns.dispatch_date}">Dispatched Date</button>
                        <button class="btn colToggle" ng-click="toggleColumn('estimated_pickup')" ng-class="{'btn-primary': columns.estimated_pickup,'btn-off': !columns.estimated_pickup}">Estimated Pickup</button>
                        <button class="btn colToggle" ng-click="toggleColumn('pickup_date')" ng-class="{'btn-primary': columns.pickup_date, 'btn-off': !columns.pickup_date}">Picked-up Date</button>
                        <button class="btn colToggle" ng-click="toggleColumn('estimated_dropoff')" ng-class="{'btn-primary': columns.estimated_dropoff, 'btn-off': !columns.estimated_dropoff}">Estimated Dropoff</button>
                        <button class="btn colToggle" ng-click="toggleColumn('dropoff_date')" ng-class="{'btn-primary': columns.dropoff_date, 'btn-off': !columns.dropoff_date}">Dropoff Date</button>
                        <button class="btn colToggle" ng-click="toggleColumn('price')" ng-class="{'btn-primary': columns.price, 'btn-off': !columns.price}">Amount</button>
                        <button class="btn colToggle" ng-click="toggleColumn('invoice_date')" ng-class="{'btn-primary': columns.invoice_date, 'btn-off': !columns.invoice_date}">Invoiced Date</button>
                        <button class="btn colToggle" ng-click="toggleColumn('paid')" ng-class="{'btn-primary': columns.paid, 'btn-off': !columns.paid}">Paid</button>
                        <button class="btn colToggle" ng-click="toggleColumn('payment_date')" ng-class="{'btn-primary': columns.payment_date, 'btn-off': !columns.payment_date}">Payment Date</button>
                        <button class="btn colToggle" ng-click="toggleColumn('payment_terms')" ng-class="{'btn-primary': columns.payment_terms, 'btn-off': !columns.payment_terms}">Payment Terms</button>
                        <button class="btn colToggle" ng-click="toggleColumn('vehicle')" ng-class="{'btn-primary': columns.vehicle, 'btn-off': !columns.vehicle}">Vehicle</button>
                        <button class="btn colToggle" ng-click="toggleColumn('vin')" ng-class="{'btn-primary': columns.vin, 'btn-off': !columns.vin}">VIN</button>
                        <button class="btn colToggle" ng-click="toggleColumn('status')" ng-class="{'btn-primary': columns.status, 'btn-off': !columns.status}">Status</button>
                    </h4>
                </div>
                <table datatable="ng" class="table table-striped table-hover hsTable" dt-instance="dtInstance">
                    <thead ng-click="alert()">
                        <tr>
                            <th ng-show="columns.trip_number">Trip Number</th>
                            <th ng-show="columns.broker">Broker</th>
                            <th ng-show="columns.order_number">Order Number</th>
                            <th ng-show="columns.dispatch_date">Dispatched Date</th>
                            <th ng-show="columns.estimated_pickup">Estimated Pickup</th>
                            <th ng-show="columns.pickup_date">Picked-up Date</th>
                            <th ng-show="columns.estimated_dropoff">Estimated Dropoff</th>
                            <th ng-show="columns.dropoff_date">Dropoff Date</th>
                            <th ng-show="columns.price">Amount</th>
                            <th ng-show="columns.invoice_date">Invoiced Date</th>
                            <th ng-show="columns.paid">Paid</th>
                            <th ng-show="columns.payment_date">Payment Date</th>
                            <th ng-show="columns.payment_terms">Payment Terms</th>
                            <th ng-show="columns.vehicle">Vehicle</th>
                            <th ng-show="columns.vin">VIN</th>
                            <th ng-show="columns.status">Status</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="contract in tableContents" ng-click="alert()">
                            <td ng-show="columns.trip_number">{{contract.trip_number}}</td>
                            <td ng-show="columns.broker"><a href="#!/edit_broker/{{contract.broker_id}}">{{contract.broker_name}}</a></td>
                            <td ng-show="columns.order_number">{{contract.order_number}}</td>
                            <td ng-show="columns.dispatch_date">{{formatDate(contract.dispatch_date)}}</td>
                            <td ng-show="columns.estimated_pickup">{{formatDate(contract.pickup_start)}} - {{formatDate(contract.pickup_end)}}</td>
                            <td ng-show="columns.pickup_date">{{formatDate(contract.pickup_date)}}</td>
                            <td ng-show="columns.estimated_dropoff">{{formatDate(contract.dropoff_start)}} - {{formatDate(contract.dropoff_end)}}</td>
                            <td ng-show="columns.dropoff_date">{{formatDate(contract.dropoff_date)}}</td>
                            <td ng-show="columns.price">${{contract.price.toFixed(2)}}</td>
                            <td ng-show="columns.invoice_date">{{formatDate(contract.invoice_date)}}</td>
                            <td ng-show="columns.paid">{{contract.paid ? 'Yes' : 'No'}}</td>
                            <td ng-show="columns.payment_date">{{formatDate(contract.payment_date)}}</td>
                            <td ng-show="columns.payment_terms">{{contract.payment_terms}}</td>
                            <td ng-show="columns.vehicle">{{contract.year}} {{contract.make}} {{contract.model}}</td>
                            <td ng-show="columns.vin">{{contract.vin_number}}</td>
                            <td ng-show="columns.status">{{contract.status}}</td>
                            <td><a href="#!/edit_contract/{{contract.id}}">Open Contract</a></td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td ng-show="columns.trip_number && tableLoaded"><input id="search_trip_number" placeholder="Search column..." onkeyup="angular.element(this).scope().search('trip_number',0)" /></td>
                            <td ng-show="columns.broker && tableLoaded"><input id="search_broker" placeholder="Search column" onkeyup="angular.element(this).scope().search('broker',1)" /></td>
                            <td ng-show="columns.order_number && tableLoaded"><input id="search_order_number" placeholder="Search column" onkeyup="angular.element(this).scope().search('order_number',2)" /></td>
                            <td ng-show="columns.dispatch_date && tableLoaded"><input id="search_dispatch_date" placeholder="Search column..." onkeyup="angular.element(this).scope().search('dispatch_date',3)" /></td>
                            <td ng-show="columns.estimated_pickup && tableLoaded"><input id="search_estimated_pickup" placeholder="Search column..." onkeyup="angular.element(this).scope().search('estimated_pickup',4)" /></td>
                            <td ng-show="columns.pickup_date && tableLoaded"><input id="search_pickup_date" placeholder="Search column..." onkeyup="angular.element(this).scope().search('pickup_date',5)" /></td>
                            <td ng-show="columns.estimated_dropoff && tableLoaded"><input id="search_estimated_dropoff" placeholder="Search column..." onkeyup="angular.element(this).scope().search('estimated_dropoff',6)" /></td>
                            <td ng-show="columns.dropoff_date && tableLoaded"><input id="search_dropoff_date" placeholder="Search column..." onkeyup="angular.element(this).scope().search('dropoff_date',7)" /></td>
                            <td ng-show="columns.price && tableLoaded"><input id="search_price" placeholder="Search column..." onkeyup="angular.element(this).scope().search('price',8)" /></td>
                            <td ng-show="columns.invoice_date && tableLoaded"><input id="search_invoice_date" placeholder="Search column..." onkeyup="angular.element(this).scope().search('invoice_date',9)" /></td>
                            <td ng-show="columns.paid && tableLoaded"><input id="search_paid" placeholder="Search column.." onkeyup="angular.element(this).scope().search('paid',10)" /></td>
                            <td ng-show="columns.payment_date && tableLoaded"><input id="search_payment_date" placeholder="Search column..." onkeyup="angular.element(this).scope().search('payment_date',11)" /></td>
                            <td ng-show="columns.payment_terms && tableLoaded"><input id="search_payment_terms" placeholder="Search column..." onkeyup="angular.element(this).scope().search('payment_terms',12)" /></td>
                            <td ng-show="columns.vehicle && tableLoaded"><input id="search_vehicle" placeholder="Search column..." onkeyup="angular.element(this).scope().search('vehicle',13)" /></td>
                            <td ng-show="columns.vin && tableLoaded"><input id="search_vin" placeholder="Search column..." onkeyup="angular.element(this).scope().search('vin',14)" /></td>
                            <td ng-show="columns.status && tableLoaded"><input id="search_status" placeholder="Search column..." onkeyup="angular.element(this).scope().search('status',15)" /></td>
                            <td></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    
</div>