﻿

<div class="container">

    <div ng-show="status.loading" class="row"><div class="text-center col-sm-12"><h1><i class="fa fa-cog fa-spin"></i> Loading... </h1></div></div>

    <div ng-show="status.errorMessage" class="row"><div class="col-sm-12"><h2>{{status.errorMessage}}</h2></div></div>

    <div ng-hide="status.errorMessage">
        <div ng-hide="status.loading">
            <form  id="edit_broker_form" name="edit_broker_form" ng-submit="addBroker()" novalidate>
                <h1>Broker: {{edit_broker.name}}</h1>
                <br />
                <ul class="tab-list-bar">
                    <li><div class="fade_progress_bar" ng-click="selectTab(0)" ng-class="{'active-tab': active_section == 0 , '': active_section != 0}">Broker Info</div></li>
                    <li><div class="fade_progress_bar" ng-click="selectTab(1)" ng-class="{'active-tab': active_section == 1 , '': active_section != 1}">Contact Info</div></li>
                    <li><div class="fade_progress_bar" ng-click="selectTab(2)" ng-class="{'active-tab': active_section == 2 , '': active_section != 2}">Online Info</div></li>

                </ul>

                <fieldset broker-basic-fieldset
                          broker="edit_broker"
                          broker_form="edit_broker_form"
                          edit="edit()"
                          done="done()"
                          delete-it="deleteIt()"
                          contract_count_open="contract_count_open"
                          contract_count_closed="contract_count_closed"
                          navigate="navigate(path,search,hash)"
                          edit-mode="status.editMode"
                          form-state-error="status.formStateError"
                          form-state-message="status.formStateMessage"
                          saving="status.saving"
                          clear="clear()"
                          new-broker-form="false"
                          class="contract_section fade_section"
                          checkbrokername="checkbrokername()"
                          brokernamevalid="status.brokernamevalid"
                          ng-class="{'active': active_section == 0 , '': active_section != 0}"></fieldset>


                <fieldset broker-contact-fieldset
                          broker="edit_broker"
                          broker_form="edit_broker_form"
                          edit="edit()"
                          done="done()"
                          delete-it="deleteIt()"
                          edit_mode="status.editMode"
                          form-state-error="status.formStateError"
                          form-state-message="status.formStateMessage"
                          saving="status.saving"
                          clear="clear()"
                          new-broker-form="false"
                          class="contract_section fade_section"
                          ng-class="{'active': active_section == 1 , '': active_section != 1}"></fieldset>

                <fieldset broker-online-fieldset
                          broker="edit_broker"
                          broker_form="edit_broker_form"
                          edit="edit()"
                          done="done()"
                          delete-it="deleteIt()"
                          edit_mode="status.editMode"
                          form-state-error="status.formStateError"
                          form-state-message="status.formStateMessage"
                          saving="status.saving"
                          clear="clear()"
                          new-broker-form="false"
                          class="contract_section fade_section"
                          ng-class="{'active': active_section == 2 , '': active_section != 2}"></fieldset>

            </form>
        </div>
    </div>

</div>