﻿

<div class="container">

    <div ng-show="status.loading" class="row"><div class="text-center col-sm-12"><h1><i class="fa fa-cog fa-spin"></i> Loading... </h1></div></div>

    <div ng-show="status.errorMessage" class="row"><div class="col-sm-12"><h2>{{status.errorMessage}}</h2></div></div>

    <div ng-hide="status.errorMessage">
        <div ng-hide="status.loading">
            <form novalidate id="edit_contract_form" name="edit_contract_form">
                <h1>Contract: {{edit_contract.order_number}} <span ng-show="edit_contract.status == 'Closed'">(Closed)</span></h1>

                <br />
                <ul class="tab-list-bar">
                    <li><div class="fade_progress_bar" ng-click="selectTab(0)" ng-class="{'active-tab': active_section == 0 , '': active_section != 0}">Contract Info</div></li>
                    <li><div class="fade_progress_bar" ng-click="selectTab(1)" ng-class="{'active-tab': active_section == 1 , '': active_section != 1}">Broker Info</div></li>
                    <li><div class="fade_progress_bar" ng-click="selectTab(2)" ng-class="{'active-tab': active_section == 2 , '': active_section != 2}">Vehicle Info</div></li>
                    <li><div class="fade_progress_bar" ng-click="selectTab(3)" ng-class="{'active-tab': active_section == 3 , '': active_section != 3}">Pick-up Info</div></li>
                    <li><div class="fade_progress_bar" ng-click="selectTab(4)" ng-class="{'active-tab': active_section == 4 , '': active_section != 4}">Dropoff Info</div></li>

                </ul>


                <fieldset contract-basic-fieldset
                          contract="edit_contract"
                          contract_form="edit_contract_form"
                          bool-items="boolItems"
                          edit="edit()"
                          done="done()"
                          delete-it="deleteIt()"
                          edit-mode="status.editMode"
                          form-state-error="status.formStateError"
                          form-state-message="status.formStateMessage"
                          saving="status.saving"
                          clear="clear()"
                          new-contract-form="false"
                          class="contract_section fade_section"
                          ng-class="{'active': active_section == 0 , '': active_section != 0}"
                          ng-disabled="edit_mode"></fieldset>

                <fieldset contract-broker-fieldset
                          contract="edit_contract"
                          contract_form="edit_contract_form"
                          edit="edit()"
                          done="done()"
                          delete-it="deleteIt()"
                          navigate="navigate(path,search,hash)"
                          edit-mode="status.editMode"
                          form-state-error="status.formStateError"
                          form-state-message="status.formStateMessage"
                          saving="status.saving"
                          clear="clear()"
                          new-contract-form="false"
                          checkbroker="checkbroker()"
                          class="contract_section fade_section"
                          ng-class="{'active': active_section == 1 , '': active_section != 1}"
                          ng-disabled="edit_mode"></fieldset>

                <fieldset contract-vehicle-fieldset
                          contract="edit_contract"
                          contract_form="edit_contract_form"
                          edit="edit()"
                          done="done()"
                          delete-it="deleteIt()"
                          edit-mode="status.editMode"
                          form-state-error="status.formStateError"
                          form-state-message="status.formStateMessage"
                          saving="status.saving"
                          clear="clear()"
                          new-contract-form="false"
                          class="contract_section fade_section"
                          ng-class="{'active': active_section == 2 , '': active_section != 2}"
                          ng-disabled="edit_mode"></fieldset>


                <fieldset contract-pickup-fieldset
                          contract="edit_contract"
                          contract_form="edit_contract_form"
                          edit="edit()"
                          done="done()"
                          delete-it="deleteIt()"
                          edit-mode="status.editMode"
                          form-state-error="status.formStateError"
                          form-state-message="status.formStateMessage"
                          saving="status.saving"
                          clear="clear()"
                          new-contract-form="false"
                          class="contract_section fade_section"
                          ng-class="{'active': active_section == 3 , '': active_section != 3}"
                          ng-disabled="edit_mode"></fieldset>

                <fieldset contract-dropoff-fieldset
                          contract="edit_contract"
                          contract_form="edit_contract_form"
                          edit="edit()"
                          done="done()"
                          delete-it="deleteIt()"
                          edit-mode="status.editMode"
                          form-state-error="status.formStateError"
                          form-state-message="status.formStateMessage"
                          saving="status.saving"
                          clear="clear()"
                          new-contract-form="false"
                          class="contract_section fade_section"
                          ng-class="{'active': active_section == 4 , '': active_section != 4}"
                          ng-disabled="edit_mode"></fieldset>
            </form>
        </div>
    </div>
    
</div>