﻿

<div class="container">

    <div ng-show="status.loading" class="row"><div class="text-center col-sm-12"><h1><i class="fa fa-cog fa-spin"></i> Loading... </h1></div></div>

    <div ng-show="status.errorMessage" class="row"><div class="col-sm-12"><h2>{{status.errorMessage}}</h2></div></div>

    <div ng-hide="status.errorMessage">
        <div ng-hide="status.loading">
            <form  id="new_broker_form" name="new_broker_form" ng-submit="addBroker()" novalidate>
                <h1>New Broker</h1>

                <ul class="progress-list-bar">
                    <li><div class="fade_progress_bar" ng-class="{'active-step': new_broker.active_section >= 0 , '': new_broker.active_section < 0}">Broker Info</div></li>
                    <li><div class="fade_progress_bar" ng-class="{'active-step': new_broker.active_section >= 1 , '': new_broker.active_section < 1}">Contact Info</div></li>
                    <li><div class="fade_progress_bar" ng-class="{'active-step': new_broker.active_section >= 2 , '': new_broker.active_section < 2}">Online Info</div></li>

                </ul>

                <fieldset broker-basic-fieldset
                          broker="new_broker"
                          broker_form="new_broker_form"
                          next="next()"
                          previous="previous()"
                          edit-mode="status.editMode"
                          form-state-error="status.formStateError"
                          form-state-message="status.formStateMessage"
                          saving="status.saving"
                          clear="clear()"
                          new-broker-form="true"
                          class="contract_section fade_section"
                          checkbrokername="checkbrokername()"
                          brokernamevalid="status.brokernamevalid"
                          ng-class="{'active': new_broker.active_section == 0 , '': new_broker.active_section != 0}"></fieldset>


                <fieldset broker-contact-fieldset
                          broker="new_broker"
                          broker_form="new_broker_form"
                          next="next()"
                          previous="previous()"
                          edit-mode="status.editMode"
                          form-state-error="status.formStateError"
                          form-state-message="status.formStateMessage"
                          saving="status.saving"
                          clear="clear()"
                          new-broker-form="true"
                          class="contract_section fade_section"
                          ng-class="{'active': new_broker.active_section == 1 , '': new_broker.active_section != 1}"></fieldset>

                <fieldset broker-online-fieldset
                          broker="new_broker"
                          broker_form="new_broker_form"
                          next="next()"
                          previous="previous()"
                          edit-mode="status.editMode"
                          form-state-error="status.formStateError"
                          form-state-message="status.formStateMessage"
                          saving="status.saving"
                          clear="clear()"
                          new-broker-form="true"
                          class="contract_section fade_section"
                          ng-class="{'active': new_broker.active_section == 2 , '': new_broker.active_section != 2}"></fieldset>

            </form>
        </div>
    </div>

</div>