﻿

<div class="container">

    <div ng-show="status.loading" class="row"><div class="text-center col-sm-12"><h1><i class="fa fa-cog fa-spin"></i> Loading... </h1></div></div>

    <div ng-show="status.errorMessage" class="row"><div class="col-sm-12"><h2>{{status.errorMessage}}</h2></div></div>

    <div ng-hide="status.errorMessage">
        <div ng-hide="status.loading">
            <form novalidate id="new_contract_form" name="new_contract_form" ng-submit="addContract()">
                <h1>New Contract</h1>

                <ul class="progress-list-bar">
                    <li><div class="fade_progress_bar" ng-class="{'active-step': new_contract.active_section >= 0 , '': new_contract.active_section < 0}">Contract Info</div></li>
                    <li><div class="fade_progress_bar" ng-class="{'active-step': new_contract.active_section >= 1 , '': new_contract.active_section < 1}">Broker Info</div></li>
                    <li><div class="fade_progress_bar" ng-class="{'active-step': new_contract.active_section >= 2 , '': new_contract.active_section < 2}">Vehicle Info</div></li>
                    <li><div class="fade_progress_bar" ng-class="{'active-step': new_contract.active_section >= 3 , '': new_contract.active_section < 3}">Pick-up Info</div></li>
                    <li><div class="fade_progress_bar" ng-class="{'active-step': new_contract.active_section >= 4 , '': new_contract.active_section < 4}">Dropoff Info</div></li>

                </ul>


                <fieldset contract-basic-fieldset

                          contract="new_contract"
                          contract_form="new_contract_form"
                          next="next()"
                          previous="previous()"
                          edit-mode="status.editMode"
                          form-state-error="status.formStateError"
                          form-state-message="status.formStateMessage"
                          saving="status.saving"
                          clear="clear()"
                          new-contract-form="true"
                          class="contract_section fade_section" 
                          ng-class="{'active': new_contract.active_section == 0 , '': new_contract.active_section != 0}">
                    

                </fieldset>

                <fieldset contract-broker-fieldset

                          contract="new_contract"
                          contract_form="new_contract_form"
                          next="next()"
                          previous="previous()"
                          navigate="navigate(path,search,hash)"
                          edit-mode="status.editMode"
                          form-state-error="status.formStateError"
                          form-state-message="status.formStateMessage"
                          saving="status.saving"
                          clear="clear()"
                          new-contract-form="true"
                          checkbroker="checkbroker()"
                          class="contract_section fade_section" 
                          ng-class="{'active': new_contract.active_section == 1 , '': new_contract.active_section != 1}">
        
                </fieldset>

                <fieldset contract-vehicle-fieldset
                          contract="new_contract"
                          contract_form="new_contract_form"
                          next="next()"
                          previous="previous()"
                          edit-mode="status.editMode"
                          form-state-error="status.formStateError"
                          form-state-message="status.formStateMessage"
                          saving="status.saving"
                          clear="clear()"
                          new-contract-form="true"
                          class="contract_section fade_section" 
                          ng-class="{'active': new_contract.active_section == 2 , '': new_contract.active_section != 2}">
                    
                </fieldset>


                <fieldset contract-pickup-fieldset
                          contract="new_contract"
                          contract_form="new_contract_form"
                          next="next()"
                          previous="previous()"
                          edit-mode="status.editMode"
                          form-state-error="status.formStateError"
                          form-state-message="status.formStateMessage"
                          saving="status.saving"
                          clear="clear()"
                          new-contract-form="true"
                          class="contract_section fade_section" 
                          ng-class="{'active': new_contract.active_section == 3 , '': new_contract.active_section != 3}">
                    
                </fieldset>

                <fieldset contract-dropoff-fieldset
                          contract="new_contract"
                          contract_form="new_contract_form"
                          next="next()"
                          previous="previous()"
                          edit-mode="status.editMode"
                          form-state-error="status.formStateError"
                          form-state-message="status.formStateMessage"
                          saving="status.saving"
                          clear="clear()"
                          new-contract-form="true"
                          class="contract_section fade_section" 
                          ng-class="{'active': new_contract.active_section == 4 , '': new_contract.active_section != 4}">
                    
                </fieldset>
            </form>
        </div>
    </div>
    
</div>