﻿<div class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="close(false)" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{{header}}</h4>
            </div>
            <div class="modal-body">
                <p>{{message}}</p>
                <p ng-show="showLink"><a ng-click="close(true)"  data-dismiss="modal">{{linkText}}</a></p>
            </div>
            <div class="modal-footer">
                <button type="button" ng-click="close(false)" class="btn btn-primary" data-dismiss="modal">Okay</button>
            </div>
        </div>
    </div>
</div>